**
!Dockerfile
!heroku.yml
!pyproject.toml
!requirements.lock
!src/
!src/**
!config/
!config/*.json
!config/acl
!web/
!web/**
web/node_modules
web/dist
web/archive
**/__pycache__
**/*.pyc
**/.env*
config/*.local.*
